{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Time On Server</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap/css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container lead d-flex align-items-center w-100 h-100 justify-content-center mt-5">
        <div class="row  border rounded-circle p-4 border-danger bg-success text-light ">
            <div class="col-sm-6 offset-sm-3">
                    <h1 class="text-capitalize">time on server:
                         <div id="date" class="text-muted">{{date}}</div>
                    </h1>
            </div>
        </div>
    </div>
    
    <script src="{% static 'js/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'css/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script>
        setInterval(function(){
            $.getJSON('/time/', function(response){
                console.log(new Date(response['date']));
                $('#date').html(new Date(response['date']).toString().slice(0,25))
            });
        },1000);
    </script>
</body>
</html>